<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, autofocus: true, placeholder: "Last, First", class: "form-control" %>
  <%= form.label :email %>
  <%= form.email_field :email, class: "form-control" %>
  <%= form.label :title %>
  <%= form.text_field :title, placeholder: "Mr., Mrs., Miss, Dr., etc.", class: "form-control" %>
  <%= form.label :phone %>
  <%= form.text_field :phone, class: "form-control" %>
  <%= form.label :status %>
  <%= form.select :status, [['inactive', false], ['active', true]], class: "form-control" %>
  <%= form.submit "Enter", class: "form-control btn btn-primary" %>
</div>
